.wrapper{
	width:600px;
	padding:5px;
	background:lightblue;
	margin: 0 auto 0 auto;
}

.heading{
	height:100px;
	background:yellow;
	padding: 20px;
	text-align: center;
}

.navigation{
	height:50px;
	background:lightgreen;
}

.content{
	min-height:400px;
	background:#ddd;
	width:400px;
	float:left;
}

.sidebar{
	width:200px;
	float:right;
	background:#eee;
	min-height:400px;
}

.footer{
	clear:both;
	height:40px;
	color:darkblue;
	text-align:center;
	padding:5px;
}